@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
}

/* Custom Tailwind theme for dark mode */
:root {
  --black: hsl(0, 0%, 4%);
  --black-bis: hsl(0, 0%, 7%);
  --black-ter: hsl(0, 0%, 14%);
  --grey-darker: hsl(0, 0%, 21%);
  --grey-dark: hsl(0, 0%, 29%);
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);
  --grey-lighter: hsl(0, 0%, 86%);
  --grey-lightest: hsl(0, 0%, 93%);
  --white-ter: hsl(0, 0%, 96%);
  --white-bis: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(14, 100%, 53%);
  --yellow: hsl(48, 100%, 67%);
  --green: hsl(141, 53%, 53%);
  --turquoise: hsl(171, 100%, 41%);
  --cyan: hsl(204, 71%, 53%);
  --blue: hsl(217, 71%, 53%);
  --purple: hsl(271, 100%, 71%);
  --red: hsl(348, 86%, 61%);
}

/* Dark theme overrides */
.dark {
  --text-strong: var(--white-ter);
  --text: var(--grey-lightest);
  --text-light: var(--white);
  --link-visited: var(--turquoise);
  --link-hover: var(--grey-lighter);
  --link-focus: var(--grey-lighter);
  --link-active-border: var(--grey-light);
  --scheme-main: var(--black);
  --scheme-main-bis: var(--black-bis);
  --scheme-main-ter: var(--black-ter);
  --scheme-invert: var(--white);
  --scheme-invert-bis: var(--white-bis);
  --scheme-invert-ter: var(--white-ter);
  --background: var(--black-ter);
  --border: var(--grey-darker);
  --border-hover: var(--grey-dark);
  --border-light: var(--black);
  --border-light-hover: var(--grey-dark);
  --body-background-color: var(--scheme-main-bis);
  --navbar-background-color: var(--scheme-main-ter);
  --footer-background-color: var(--scheme-main-ter);
}